<!--
  Generated template for the AddUnitPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-center><img alt="logo" height="40"   src="assets/icon/alesca_logo.png" > </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

 <ion-spinner *ngIf="isScanning==true" name="circles"></ion-spinner>

  <ion-grid *ngFor="let device of devices">
  
    <ion-row>

      <ion-col col-8 text-left (click)="deviceSelected(device)">

        <h2>{{ device.name || 'Unnamed' }}</h2>
        <p>{{device.id}}</p>
        <p>RSSI:{{device.rssi}}</p>

      </ion-col>

      <ion-col col-4 text-center>
        <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
      </ion-col>

    </ion-row>

  </ion-grid>
 

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>

