<ion-header>
  <ion-navbar>
    <ion-title text-left><img alt="logo" height="40"   src="assets/icon/alesca_logo.png" > </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-grid>
    <ion-row>

      <ion-col col-6 text-left padding-vertical>

        <ion-label>REST WIFI</ion-label>

      </ion-col>

      <ion-col col-6 text-center padding-vertical>

         <ion-icon name="arrow-dropright-circle"></ion-icon>

      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
