<!--
  Generated template for the AddingprocessPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-left><img alt="logo" height="40"   src="assets/icon/alesca_logo.png" > </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-card>
    <ion-card-header>
      {{ peripheral.name || 'Unnamed' }}
    </ion-card-header>
    <ion-card-content>
      {{ peripheral.id }}
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Services
    </ion-card-header>

    <ion-list>
      <ion-item *ngFor="let service of peripheral.services">
        {{service}}
      </ion-item>
    </ion-list>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Details
    </ion-card-header>
    <ion-card-content>
      <pre>{{peripheral | json }}</pre>
    </ion-card-content>
  </ion-card>

 <!--  <ion-title>{{devicename.id}}</ion-title>
  <ion-title>{{devicename.rssi}}</ion-title>
  <ion-grid>

	<ion-row>

		<ion-col col-12 text-center>

		  <ion-item>
		    <ion-label color="primary" stacked>Name:</ion-label>
		    <ion-input type="text" placeholder="eg Germination_CI"></ion-input>
		  </ion-item>

		</ion-col>

	</ion-row>



  </ion-grid>

  <ion-grid>
	
    <ion-row>

      <ion-col col-12 text-center>
        <button ion-button block outline>Pair</button>
      </ion-col>

    </ion-row>

  </ion-grid> -->

</ion-content>

<ion-footer>
  <ion-toolbar>
    <p>{{ statusMessage }}</p>
  </ion-toolbar>
</ion-footer>