<ion-tabs>
  <ion-tab [root]="startup" tabTitle="" tabIcon="ios-home-outline"></ion-tab>
  <ion-tab [root]="calibration" tabTitle="" tabIcon="ios-locate"></ion-tab>
  <ion-tab [root]="wifidashboard" tabTitle="" tabIcon="ios-wifi"></ion-tab>
  <ion-tab [root]="homedevice" tabTitle="" tabIcon="ios-options-outline"></ion-tab>
  <ion-tab [root]="homesettings" tabTitle="" tabIcon="ios-settings"></ion-tab>
</ion-tabs>
