<!--
  Generated template for the GraphTempPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title text-left><img alt="logo" height="40"   src="assets/icon/alesca_logo.png" > </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-grid class="date-style">

		<ion-row>

		    <ion-col col-12 text-center>
		      Date
		    </ion-col>

		</ion-row>

	</ion-grid>

	<ion-grid class="date-style">

		<ion-row>

		    <ion-col col-12 text-center>
		      Graph
		    </ion-col>

		</ion-row>

	</ion-grid>

</ion-content>
