<!--
  Generated template for the DevicesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-toolbar>

    <ion-grid>

      <ion-row>

        <ion-col col-6 text-left>
         <ion-title text-left><img alt="logo" height="40"   src="assets/icon/alesca_logo.png" > </ion-title>
        </ion-col>

        <ion-col col-6 text-right>
          <ion-buttons float-right>
            <button ion-button icon-only color="royal" (click)="settings()">
              <ion-icon name="ios-settings"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>

</ion-header>

<ion-content padding>

 <form (ngSubmit)="logForm()">

  <ion-grid (click)="viewgraph()">
    <ion-row>

      <ion-col col-4 text-center>
        <ion-label>Air Temperature</ion-label>
      </ion-col>

      <ion-col col-4 text-center>
	      <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-4 text-left>
		    <ion-label>C</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid (click)="viewgraph()">
    <ion-row>

      <ion-col col-4 text-center>
        <ion-label>Air Temperature</ion-label>
      </ion-col>

      <ion-col col-4 text-center>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-4 text-left>
		     <ion-label>RH</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid (click)="viewgraph()">
    <ion-row>

      <ion-col col-4 text-center>
        <ion-label>Air C02 level</ion-label>
      </ion-col>

      <ion-col col-4 text-center>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-4 text-left>
		     <ion-label>PPM</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid (click)="viewgraph()">
    <ion-row>

      <ion-col col-4 text-center>
         <ion-label>Water Temperature</ion-label>
      </ion-col>

      <ion-col col-4 text-center>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-4 text-left>
		     <ion-label>C</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid (click)="viewgraph()">
  
    <ion-row>

      <ion-col col-4 text-center>
       <ion-label>Water EC Level</ion-label>
      </ion-col>

      <ion-col col-4 text-center>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-4 text-left>
		     <ion-label>mS/cm</ion-label>
      </ion-col>

    </ion-row>

  </ion-grid>

  <ion-grid (click)="viewgraph()">
    <ion-row>

      <ion-col col-4 text-center>
        <ion-label>Water pH Level</ion-label>
      </ion-col>

      <ion-col col-4 text-center>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-4 text-left>
		
      </ion-col>

    </ion-row>
  </ion-grid>

 </form>

</ion-content>

<!-- <tabs-page></tabs-page> -->
