<!--
  Generated template for the SettingSetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

	  <ion-grid>

	    <ion-row>

	      <ion-col col-6 text-left>
	       <ion-title text-left><img alt="logo" height="40"   src="assets/icon/alesca_logo.png" > </ion-title>
	      </ion-col>

	      <ion-col col-6 text-right>
			  <button ion-button>Save</button>
	      </ion-col>

	    </ion-row>

	  </ion-grid>

  </ion-navbar>

</ion-header>


<ion-content padding>

	<ion-list>

	  <ion-item>
	    <ion-label color="primary" stacked>WIFI SSID</ion-label>
	    <ion-input type="text" placeholder="eg Alescalife"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label color="primary" stacked>WIFI Password</ion-label>
	    <ion-input type="password" placeholder="eg. Alescalife_tech"></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label color="primary" stacked>Time Difference</ion-label>
	    <ion-input type="text" placeholder="eg. +0800"></ion-input>
	  </ion-item>

	</ion-list>

	<ion-list>

	  <ion-grid>

	    <ion-row>

	      <ion-col col-4 text-left>
	        <ion-label>Port 1</ion-label>
	      </ion-col>

	      <ion-col col-4 text-center>

			<ion-item>
			  <ion-label>Port 1</ion-label>
			  <ion-select [(ngModel)]="inquirybodies.port1">
			    <ion-option *ngFor="let port1 of selectOption" [value]="port1">
			    	{{port1.label}}
			    </ion-option>
			  </ion-select>
			</ion-item>

	      </ion-col>

	      <ion-col col-4 text-center>
			   <button ion-button>Submit</button>
	      </ion-col>

	    </ion-row>

	  </ion-grid>

	  <ion-grid>
	  
	    <ion-row>

	      <ion-col col-4 text-left>
	        <ion-label>Cycling On time</ion-label>
	      </ion-col>

	      <ion-col col-4 text-center>
	       
	        <ion-input type="text" name="title" placeholder="Avg"></ion-input>
	      </ion-col>

	      <ion-col col-4 text-center>
			   <p>Minutes</p>
	      </ion-col>

	    </ion-row>

	  </ion-grid>

	  <ion-grid>
	  
	    <ion-row>

	      <ion-col col-4 text-left>
	        <ion-label>Cycling Off time</ion-label>
	      </ion-col>

	      <ion-col col-4 text-center>
	        <ion-input type="text" name="title" placeholder="Avg"></ion-input>
	      </ion-col>

	      <ion-col col-4 text-center>
			   <p>Minutes</p>
	      </ion-col>

	    </ion-row>

	  </ion-grid>

	  <ion-grid>
	  
	    <ion-row>

	      <ion-col col-4 text-left>
	        <ion-label>Cycling Start time</ion-label>
	      </ion-col>

	      <ion-col col-4 text-center>
	        <ion-input type="text" name="title" placeholder="Avg"></ion-input>
	      </ion-col>

	      <ion-col col-4 text-center>

	      </ion-col>

	    </ion-row>

	  </ion-grid>

	</ion-list>

	<ion-list>

	  <ion-grid>

	    <ion-row>

	      <ion-col col-4 text-left>
	        <ion-label>Port 2</ion-label>
	      </ion-col>

	      <ion-col col-4 text-center>

			<ion-item>
			  <ion-label>Port 2</ion-label>
			  <ion-select [(ngModel)]="inquirybodies.port2">
			    <ion-option *ngFor="let port2 of selectOption" [value]="port2">
			    	{{port2.label}}
			    </ion-option>
			  </ion-select>
			</ion-item>

	      </ion-col>

	      <ion-col col-4 text-center>
			   <button ion-button>Submit</button>
	      </ion-col>

	    </ion-row>

	  </ion-grid>

	  <ion-grid>
	  
	    <ion-row>

	      <ion-col col-4 text-left>
	        <ion-label>Cycling On time</ion-label>
	      </ion-col>

	      <ion-col col-4 text-center>
	        <ion-input type="text" name="title" placeholder="Avg"></ion-input>
	      </ion-col>

	      <ion-col col-4 text-center>
			  
	      </ion-col>

	    </ion-row>

	  </ion-grid>

	  <ion-grid>
	  
	    <ion-row>

	      <ion-col col-4 text-left>
	        <ion-label>Cycling Off time</ion-label>
	      </ion-col>

	      <ion-col col-4 text-center>
	        <ion-input type="text" name="title" placeholder="Avg"></ion-input>
	      </ion-col>

	      <ion-col col-4 text-center>
			
	      </ion-col>

	    </ion-row>

	  </ion-grid>

	</ion-list>

</ion-content>
