<!--
  Generated template for the RecipePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

      <ion-grid>

        <ion-row>

          <ion-col col-6 text-left>
           <ion-title text-center><img alt="logo" height="40"   src="assets/icon/alesca_logo.png" > </ion-title>
          </ion-col>

          <ion-col col-6 text-right>
            <button ion-button>Save</button>
          </ion-col>

        </ion-row>

      </ion-grid>

  </ion-navbar>

</ion-header>


<ion-content padding>
 <ion-title>Target</ion-title>
 <form (ngSubmit)="logForm()">

  <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
        <ion-label>Air Temperature Target</ion-label>
      </ion-col>

      <ion-col col-4 text-left>

	      <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>

      </ion-col>

      <ion-col col-2 text-left>
		    <ion-label>C</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
        <ion-label>Air Temperature Target</ion-label>
      </ion-col>

      <ion-col col-4 text-left>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-2 text-left>
		     <ion-label>RH</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
        <ion-label>Air C02 Target</ion-label>
      </ion-col>

      <ion-col col-4 text-left>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-2 text-left>
		     <ion-label>PPM</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>


    <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
         <ion-label>Water Temperature Target</ion-label>
      </ion-col>

      <ion-col col-4 text-left>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-2 text-left>
		     <ion-label>C</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
       <ion-label>Water EC Target</ion-label>
      </ion-col>

      <ion-col col-4 text-left>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-2 text-left>
		     <ion-label>mS/cm</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>


    <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
        <ion-label>Water pH Target</ion-label>
      </ion-col>

      <ion-col col-4 text-left>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-2 text-left>
		
      </ion-col>

    </ion-row>
  </ion-grid>

 </form>
<ion-title>Variation</ion-title>
 <form (ngSubmit)="logForm()">

  <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
        <ion-label>Air Temperature Variation</ion-label>
      </ion-col>

      <ion-col col-4 text-left>

	      <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>

      </ion-col>

      <ion-col col-2 text-left>
		    <ion-label>C</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
        <ion-label>Air Temperature Variation</ion-label>
      </ion-col>

      <ion-col col-4 text-left>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-2 text-left>
		     <ion-label>RH</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>



  <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
        <ion-label>Air C02 Variation</ion-label>
      </ion-col>

      <ion-col col-4 text-left>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-2 text-left>
		     <ion-label>PPM</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>


    <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
         <ion-label>Water Temperature Variation</ion-label>
      </ion-col>

      <ion-col col-4 text-left>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-2 text-left>
		     <ion-label>C</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>


  <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
       <ion-label>Water EC Variation</ion-label>
      </ion-col>

      <ion-col col-4 text-left>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-2 text-left>
		     <ion-label>mS/cm</ion-label>
      </ion-col>

    </ion-row>
  </ion-grid>


    <ion-grid>
    <ion-row>

      <ion-col col-6 text-left>
        <ion-label>Water pH Variation</ion-label>
      </ion-col>

      <ion-col col-4 text-left>
       
        <ion-input type="text" [(ngModel)]="todo.title" name="title" placeholder="Avg"></ion-input>
      </ion-col>

      <ion-col col-2 text-left>
		
      </ion-col>

    </ion-row>
  </ion-grid>

 </form>
</ion-content>
