<!--
  Generated template for the CalibrationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

<ion-navbar>
	<ion-title text-left><img alt="logo" height="40"   src="assets/icon/alesca_logo.png" > </ion-title>
</ion-navbar>

</ion-header>


<ion-content padding>

  <ion-grid>
    <ion-row>

      <ion-col col-4 text-center>
        <ion-label>pH</ion-label>
      </ion-col>

      <ion-col col-4 text-center>
        <ion-label>Calibration</ion-label>
      </ion-col>

      <ion-col col-4 text-center>
		     <ion-icon name="arrow-dropright-circle"></ion-icon>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>

    <ion-row>

      <ion-col col-4 text-center>
        <ion-label>EC</ion-label>
      </ion-col>

      <ion-col col-4 text-center>
	     <ion-label>Calibration</ion-label>
      </ion-col>

      <ion-col col-4 text-center>

		  <ion-icon name="arrow-dropright-circle"></ion-icon>

      </ion-col>

    </ion-row>

  </ion-grid>

</ion-content>
