<ion-header>
  <ion-navbar>
    <ion-title>
      BLE
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-navbar *navbar>

	<ion-title>
		BLE Demo
	</ion-title>

	<ion-buttons end>
	<button (click) = "startScanning()" >Scan</button>
	</ion-buttons>

</ion-navbar>
<ion-content padding>

	<ion-buttons center>
		<button (click) = "startScanning()" >Scan</button>
	</ion-buttons>

	<h3 *ngIf="bleundefined">Your BLE only runs in android device</h3>
	<h3 *ngIf="!bleundefined">If you see this text, means BLE or your bluetoot is on and it's running on this application.</h3>
	<p *ngIf="!bleundefined">{{availabledevice}}</p>

	<ion-list inset>
		<ion-item-sliding *ngFor="let device of devices" #slidingItem>
		<button ion-item (click)="connectToDevice(device)">
		<h2>{{device.name}}</h2>
		<p>{{device.id}}</p>
		<p>{{device.rssi}}</p>
		</button>

		</ion-item-sliding>
	</ion-list>

	<ion-spinner *ngIf="isScanning==true" name="circles"></ion-spinner>
	
</ion-content>