
<ion-header>
  <ion-toolbar>

    <ion-grid>

      <ion-row>

        <ion-col col-6 text-left>
         <ion-title text-left><img alt="logo" height="40"   src="assets/icon/alesca_logo.png" > </ion-title>
        </ion-col>

        <ion-col col-6 text-right>
          <ion-buttons float-right>
            <button ion-button icon-only color="royal" (click)="goset()">
              <ion-icon name="ios-settings"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

      </ion-row>

    </ion-grid>

  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col col-4 text-center>
        <p>Port 1 </p>
      </ion-col>

      <ion-col col-4 text-center>
        <p>Schedule</p>
      </ion-col>

      <ion-col col-4>

          <ion-toggle [(ngModel)]="ports.port1" float-right></ion-toggle>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col col-4 text-center>
        <p>Port 2 </p>
      </ion-col>

      <ion-col col-4 text-center>
        <p>Schedule</p>
      </ion-col>

      <ion-col col-4>

          <ion-toggle [(ngModel)]="ports.port2" float-right></ion-toggle>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col col-4 text-center>
        <p>Port 3 </p>
      </ion-col>

      <ion-col col-4 text-center>
        <p>Schedule</p>
      </ion-col>

      <ion-col col-4>

          <ion-toggle [(ngModel)]="ports.port3" float-right></ion-toggle>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col col-4 text-center>
        <p>Port 4 </p>
      </ion-col>

      <ion-col col-4 text-center>
        <p>Schedule</p>
      </ion-col>

      <ion-col col-4>

          <ion-toggle [(ngModel)]="ports.port4" float-right></ion-toggle>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col col-4 text-center>
        <p>Port 5 </p>
      </ion-col>

      <ion-col col-4 text-center>
        <p>Cycling</p>
      </ion-col>

      <ion-col col-4>

          <ion-toggle [(ngModel)]="ports.port5" float-right></ion-toggle>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col col-4 text-center>
        <p>Port 6 </p>
      </ion-col>

      <ion-col col-4 text-center>
        <p>ON</p>
      </ion-col>

      <ion-col col-4>

          <ion-toggle [(ngModel)]="ports.port6" float-right></ion-toggle>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col col-4 text-center>
        <p>Port 7 </p>
      </ion-col>

      <ion-col col-4 text-center>
        <p>ON</p>
      </ion-col>

      <ion-col col-4>

          <ion-toggle [(ngModel)]="ports.port7" float-right></ion-toggle>

      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>

      <ion-col col-4 text-center>
        <p>Port 8 </p>
      </ion-col>

      <ion-col col-4 text-center>
        <p>OFF</p>
      </ion-col>

      <ion-col col-4>
          <ion-toggle [(ngModel)]="ports.port8" float-right></ion-toggle>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>
